.v3-contactus .tel {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}

.v3-contactus .pdtel {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}

.v3-contactus .online {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}

.v3-contactus .service_center {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}

.v3-contactus .store {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}

.v3-contactus .WeChart {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}

.v3-contactus .email {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}

.v3-contactus .community {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}

.v3-contactus .Weibo {
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}
.v3-question-solution-three-points i.question1{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}
.v3-question-solution-three-points i.question2{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}
.v3-question-solution-three-points i.question3{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
}
.v3-recommend .swiper-container p .v3-article-view:before{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/view.svg);
}
.v3-recommend .swiper-container p .v3-article-score:before{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/score.svg);
}
.huawei-v3 .footer-top .cnt-wrap .follow-us li a{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-v3/images/v3-icon.svg);
}
.csv4-link a:before{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-v3/images/v3-icon.svg);
}
.popularizes-region-component-list-text a.more_link:before{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-v3/images/v3-icon.svg);
}
.support-v4.v3-announcement a.v3-more:before{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-v3/images/v3-icon.svg);
}
.huawei-v3 .bread-crumb b::before{
    background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-v3/images/v3-icon.svg)
}

@media screen and (min-width: 1025px){
    .v3-arraw-white::after {
        background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
    }
    .v3-arraw-gray::after {
        background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/v3-icons.svg);
    }
}

@media (max-width: 1023px){
    .huawei-v3 .footer-top .cnt-wrap .list .list-h3 .arrow-icon{
        background-image:url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-v3/images/v3-icon.svg);
    }
}
@media(min-width:1200px) {
    .csv4-huawei-lecture .huawei-lecture_slide .swiper-pagination-bullet-active .swiper-pagination-bullet-circle {
        background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-v3/images/to-play-image.svg);
    }
}

@media (max-width: 767px){
    .v3-recommend .v3-recommend-title-container>span.v3-recommend-title-container-score:before{
        background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/score.svg);
    }
    .v3-recommend .v3-recommend-title-container>span.v3-recommend-title-container-view:before{
        background-image: url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-support-v2/support-public/img/v3/view.svg);
    }
    .support-v4.v3-announcement a.v3-more:before{
        background-image:url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/images/support-v3/csv4_arrow_mob.svg);
    }
    .csv4-link a:before{
        background-image:url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/images/support-v3/csv4_arrow_mob.svg);
    }
    .popularizes-region-component-list-text a.more_link:before{
        background-image:url(/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/images/support-v3/csv4_arrow_mob.svg);
    }
}
@media only screen and (max-width: 1199.98px) {
    .v4.n01-main-navigation .main-nav__item .main-nav__link[href^='http']:not([href*='consumer.huawei.com']):after{
        background-image: url("/web/20210731030633im_/https://consumer.huawei.com/etc/designs/huawei-cbg-site/clientlib-campaign-v4/feature/relate-product/images/icons/outlink.svg");
    }
}
/*
     FILE ARCHIVED ON 03:06:33 Jul 31, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:21:27 Mar 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.955
  exclusion.robots: 0.026
  exclusion.robots.policy: 0.01
  esindex: 0.014
  cdx.remote: 35.979
  LoadShardBlock: 625.686 (6)
  PetaboxLoader3.datanode: 510.147 (8)
  load_resource: 312.61 (2)
  PetaboxLoader3.resolve: 221.696 (2)
*/